*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(218, 212, 199), 0.8;
}
.wrapper {
  width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding: 20px 40px;
  font-family: "Dancing Script", cursive;
}
